.cartsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.dashCart1 {
    width: 200px ;
    min-height: 250px;
    background-color: blueviolet;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin: 15px;
}
.dashCart1 img {
    display: block;
    margin: 20px auto;
}
.dashCart2 {
    width: 200px ;
    min-height: 250px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin: 15px;
}
.dashCart2 img {
    display: block;
    margin: 20px auto;
}
.charts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.chartsContainer2 {
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    width: 500px;
    height: 330px;

}
.cars {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.car1 {
    background-color: #b1b126;
    margin: 10px;
    flex: 0.3;
    padding: 10px;
    border-radius: 15px;
    
}
.car2 {
    background-color: #bfcfd5;
    margin: 10px;
    flex: 0.3;
    padding: 10px;
    border-radius: 15px;
    
}
.car3 {
    background-color: #e29797;
    margin: 10px;
    flex: 0.3;
    padding: 10px;
    border-radius: 15px;
    
}